designs/server/services/ids.json
[
    {
        "id": "sd_J2Kz8uUTFGLIj5wT",
        "type": "tab",
        "createdDate": "2019-12-04T10:42:13.097Z",
        "label": "ids",
        "disabled": false,
        "info": "",
        "generateNext": true,
        "serviceName": "ids",
        "relativeParentPath": ""
    },
    {
        "id": "sd_cKmCXTPi9LDfPCZC",
        "type": "HttpIn",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login API",
        "path": "/login",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/login": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 92,
        "y": 286.953125,
        "wires": [
            [
                "sd_Hg8unw01BApxXp8Q"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_cKmCXTPi9LDfPCZC"
    },
    {
        "id": "sd_3tN482jLo2cRiDl1",
        "type": "Script",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Create session details",
        "script": "bh.local.reqParams = {\n    state : crypto.randomBytes(16).toString('hex'),\n    nonce : crypto.randomBytes(16).toString('hex'),\n    isMobile : bh.input.query.isMobile,\n    redirectTo : bh.input.query.redirectTo\n};",
        "functionName": "sd_3tN482jLo2cRiDl1",
        "category": "Function",
        "x": 618,
        "y": 168.21875,
        "wires": [
            [
                "sd_KdjMghuPfb5G94Iw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_KdjMghuPfb5G94Iw",
        "type": "Session",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.reqParams",
        "functionName": "sd_KdjMghuPfb5G94Iw",
        "category": "HTTP",
        "x": 763,
        "y": 410,
        "wires": [
            [
                "sd_DiKiT1gJCGWP64Mn"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "reqParams"
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_zygKyXSgMtJYMYH1",
        "type": "Script",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate IDS login redirect URL",
        "script": "const authorizationRequest = Object.assign({\n    redirect_uri: url.resolve(bh.web.req.href, '/api/login/cb'),\n    scope: 'openid profile email address phone user',\n    state: bh.local.reqParams.state,\n    nonce: bh.local.reqParams.nonce,\n    response_type: bh.input.client.response_types[0],\n}, bh.input.authParams);\n\nbh.local.redirectHeaders = {\n    location: bh.input.client.authorizationUrl(authorizationRequest)\n};\n",
        "functionName": "sd_zygKyXSgMtJYMYH1",
        "category": "Function",
        "x": 1194,
        "y": 160,
        "wires": [
            [
                "sd_thoPa5niXtAUvuei"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_DiKiT1gJCGWP64Mn",
        "type": "CallService",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "serviceId": "sd_sEYuUazYgJi81ngr",
            "serviceName": "idsutil",
            "id": "sd_sEYuUazYgJi81ngr",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_EINF8pJAdHuxfezV",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_DiKiT1gJCGWP64Mn",
        "category": "General",
        "x": 903.8125,
        "y": 173.984375,
        "wires": [
            [
                "sd_p7VBMKKj74pnJ6Af"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_thoPa5niXtAUvuei",
        "type": "HttpOut",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect to IDS",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "302",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 302,
            "obj": "'redirecting'",
            "send": "'redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_thoPa5niXtAUvuei",
        "category": "HTTP",
        "x": 1343,
        "y": 408,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_VxZzctC2aaT4LlDa",
        "type": "Switch",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if client is registered",
        "property": "idsConfigured",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.idsConfigured",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_VxZzctC2aaT4LlDa",
        "category": "Function",
        "x": 388,
        "y": 286,
        "wires": [
            [
                "sd_3tN482jLo2cRiDl1"
            ],
            [
                "sd_zySGuMDuOyXKG9Od"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_Hg8unw01BApxXp8Q",
        "type": "Script",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Assert IDS config",
        "script": "bh.local.idsConfigured = false;\nif (settings.default.hasOwnProperty('ids') && settings.default['ids'].hasOwnProperty('client_id') &&\n    settings.default['ids'].hasOwnProperty('client_secret')) {\n    bh.local.idsConfigured = true;\n}",
        "functionName": "sd_Hg8unw01BApxXp8Q",
        "category": "Function",
        "x": 234,
        "y": 287,
        "wires": [
            [
                "sd_VxZzctC2aaT4LlDa"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_8MVwpOazbOZMR2sg",
        "type": "HttpOut",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send client not registered response",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "bh.local.res.message",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "404",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 404,
            "obj": "bh.local.res.message",
            "send": "bh.local.res.message"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_8MVwpOazbOZMR2sg",
        "category": "HTTP",
        "x": 1341,
        "y": 286,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_zySGuMDuOyXKG9Od",
        "type": "Script",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Client not registered object",
        "script": "bh.local.res = {\n    message: 'IDS client not registered. Register on the Neutrinos Stuido and try again'\n}",
        "functionName": "sd_zySGuMDuOyXKG9Od",
        "category": "Function",
        "x": 617,
        "y": 291,
        "wires": [
            [
                "sd_8MVwpOazbOZMR2sg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_8k7MbcykiUlPcWM1",
        "type": "MiddlewareStart",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "start",
        "name": "hrefstart",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 517,
        "y": 691.796875,
        "wires": [
            [
                "sd_qsvArOMOoLH8ey3U"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_8k7MbcykiUlPcWM1"
    },
    {
        "id": "sd_cAn6hJ3YBUamzhWw",
        "type": "MiddlewareEnd",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Href end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_cAn6hJ3YBUamzhWw",
        "category": "HTTP",
        "x": 819.890625,
        "y": 692.796875,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_qsvArOMOoLH8ey3U",
        "type": "Script",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate href",
        "script": "const protocol = bh.input.headers['x-forwarded-proto'] || bh.web.req.protocol;\nconst href = protocol + \"://\" + bh.web.req.get('Host') + bh.web.req.originalUrl;\nbh.web.req.href = href;",
        "functionName": "sd_qsvArOMOoLH8ey3U",
        "category": "Function",
        "x": 665,
        "y": 692.78125,
        "wires": [
            [
                "sd_cAn6hJ3YBUamzhWw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_p7VBMKKj74pnJ6Af",
        "type": "CallService",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get Scope and consent values",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "serviceId": "sd_sEYuUazYgJi81ngr",
            "serviceName": "idsutil",
            "id": "sd_sEYuUazYgJi81ngr",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_ambg2uEXFk21l5Ik",
            "flowName": "Get Authorization Params"
        },
        "inputVariables": [
            {
                "key": "authParams",
                "map": false,
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "authParams",
                "valueType": "bh.input",
                "value": "authParams",
                "mapVarName": "authParams",
                "localVar": "bh.input.authParams"
            }
        ],
        "callService": "./idsutil",
        "startName": "getAuthorizationParams",
        "inputParams": [
            ""
        ],
        "accept_bh": false,
        "functionName": "sd_p7VBMKKj74pnJ6Af",
        "category": "General",
        "x": 1051,
        "y": 415.78125,
        "wires": [
            [
                "sd_zygKyXSgMtJYMYH1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_KD0hbp6BljcHl39F",
        "type": "HttpIn",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login Callback API",
        "path": "/login/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/login/cb": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 88.890625,
        "y": 1038.796875,
        "wires": [
            [
                "sd_cptTHJuc0beVYMmm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_KD0hbp6BljcHl39F"
    },
    {
        "id": "sd_gTrNswkQ6e8UYSWQ",
        "type": "CallService",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_sEYuUazYgJi81ngr",
            "type": "tab",
            "createdDate": "2019-12-04T13:37:05.418Z",
            "label": "idsutil",
            "disabled": false,
            "info": ""
        },
        "flow": {
            "flowId": "sd_EINF8pJAdHuxfezV",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": "",
        "functionName": "sd_gTrNswkQ6e8UYSWQ",
        "category": "General",
        "x": 453,
        "y": 1036.8125,
        "wires": [
            [
                "sd_aVRRFjx6uIVrYp87"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_aVRRFjx6uIVrYp87",
        "type": "Script",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get userinfo and tokens ",
        "script": "const params = bh.input.client.callbackParams(bh.web.req);\nlet tokenset = await bh.input.client.callback(url.resolve(bh.web.req.href, 'cb'), params, {\n    'nonce': bh.input.sessionParams.data.nonce,\n    'state': bh.input.sessionParams.data.state\n});\n\nbh.local.redirectTo = bh.input.sessionParams.data.redirectTo\n\nbh.local.userDetails = {\n    tokenset: Object.assign({}, tokenset),\n    userInfo: await bh.input.client.userinfo(tokenset['access_token'])\n}\nbh.local.userDetails['tokenset']['claims'] = Object.assign({}, tokenset.claims());",
        "functionName": "sd_aVRRFjx6uIVrYp87",
        "category": "Function",
        "x": 616,
        "y": 1036.78125,
        "wires": [
            [
                "sd_jgesqOWrvN2u6M1s"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_cptTHJuc0beVYMmm",
        "type": "Session",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.input.sessionParams",
        "dataMapping": "",
        "functionName": "sd_cptTHJuc0beVYMmm",
        "category": "HTTP",
        "x": 262,
        "y": 1038.796875,
        "wires": [
            [
                "sd_gTrNswkQ6e8UYSWQ"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": "sessionParams"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_oXTYsLeLH52qqJuX",
        "type": "Switch",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Send response based on device type",
        "property": "sessionParams.data.isMobile",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.sessionParams.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_oXTYsLeLH52qqJuX",
        "category": "Function",
        "x": 1001,
        "y": 1035.78125,
        "wires": [
            [
                "sd_jlfYoA5d2samumKh"
            ],
            [
                "sd_EAUnbnIcYMpCAIY3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_jlfYoA5d2samumKh",
        "type": "Script",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Mobile html response",
        "script": "bh.local.htmlResponse = `\n <html>\n   <script>\n      let _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "functionName": "sd_jlfYoA5d2samumKh",
        "category": "Function",
        "x": 1229.390643119812,
        "y": 891.2812614440918,
        "wires": [
            [
                "sd_IBLOkHaNhtX2h4NX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_EAUnbnIcYMpCAIY3",
        "type": "Script",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Add location in headers obj",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.redirectTo\n}",
        "functionName": "sd_EAUnbnIcYMpCAIY3",
        "category": "Function",
        "x": 1218.890640258789,
        "y": 1152.5312690734863,
        "wires": [
            [
                "sd_AST3N28QMxT55ks7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_IBLOkHaNhtX2h4NX",
        "type": "HttpOut",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Html response to close in app browser",
        "headers": {
            "Content-Security-Policy": "script-src 'sha256-wcX+PzUovy0uNFqMGCbbbzuT5v4aAxU9obFNyt6BHAQ='"
        },
        "responseBody": {
            "type": "bh.local",
            "value": "htmlResponse",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "txt",
        "responseMapping": {
            "status": 200,
            "txt": "bh.local.htmlResponse",
            "send": "bh.local.htmlResponse"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": [
                {
                    "key": "Content-Security-Policy",
                    "value": "script-src 'sha256-wcX+PzUovy0uNFqMGCbbbzuT5v4aAxU9obFNyt6BHAQ='",
                    "rowId": "sd_VZ8YSISw5G2Kbppv",
                    "valid": true
                }
            ]
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_IBLOkHaNhtX2h4NX",
        "category": "HTTP",
        "x": 1488.500020980835,
        "y": 1141.781265258789,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_AST3N28QMxT55ks7",
        "type": "HttpOut",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'Redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "302",
            "ssd_typedInputField": true
        },
        "responseType": "txt",
        "responseMapping": {
            "status": 302,
            "txt": "'Redirecting'",
            "send": "'Redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_AST3N28QMxT55ks7",
        "category": "HTTP",
        "x": 1483.000020980835,
        "y": 903.2812633514404,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_jgesqOWrvN2u6M1s",
        "type": "Session",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.userDetails",
        "functionName": "sd_jgesqOWrvN2u6M1s",
        "category": "HTTP",
        "x": 792,
        "y": 1036.78125,
        "wires": [
            [
                "sd_oXTYsLeLH52qqJuX"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "userDetails"
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_cwtqqOdCBjYHCjyx",
        "type": "HttpIn",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "start",
        "name": "Get userinfo",
        "path": "/user/info",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "IDSAuthroizedAPIs",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/user/info": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 455.8125057220459,
        "y": 2060.734405517578,
        "wires": [
            [
                "sd_t5MTEWzdVDI0GGDk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_cwtqqOdCBjYHCjyx"
    },
    {
        "id": "sd_t5MTEWzdVDI0GGDk",
        "type": "Session",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.session",
        "dataMapping": "",
        "functionName": "sd_t5MTEWzdVDI0GGDk",
        "category": "HTTP",
        "x": 653.0000057220459,
        "y": 2060.781280517578,
        "wires": [
            [
                "sd_HAcoBrIjNqKCwcpO"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "session"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_HAcoBrIjNqKCwcpO",
        "type": "HttpOut",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "session.data.userInfo",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.session.data.userInfo",
            "send": "bh.local.session.data.userInfo"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_HAcoBrIjNqKCwcpO",
        "category": "HTTP",
        "x": 819.0000057220459,
        "y": 2060.781280517578,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_vInEFfYqKnr1SFYS",
        "type": "Catch",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_p7VBMKKj74pnJ6Af",
            "sd_KD0hbp6BljcHl39F",
            "sd_gTrNswkQ6e8UYSWQ",
            "sd_aVRRFjx6uIVrYp87",
            "sd_cptTHJuc0beVYMmm",
            "sd_oXTYsLeLH52qqJuX",
            "sd_jlfYoA5d2samumKh",
            "sd_EAUnbnIcYMpCAIY3",
            "sd_IBLOkHaNhtX2h4NX",
            "sd_AST3N28QMxT55ks7"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_vInEFfYqKnr1SFYS",
        "category": "General",
        "x": 98.89062976837158,
        "y": 1233.0000343322754,
        "wires": [
            [
                "sd_8F1L2FWZya4lhs4O"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_8F1L2FWZya4lhs4O",
        "type": "Script",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect back to login",
        "script": "bh.web.res.redirect('/api/login')",
        "functionName": "sd_8F1L2FWZya4lhs4O",
        "category": "Function",
        "x": 262.50000381469727,
        "y": 1231.0312690734863,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_GftJ79vHiJ39h6nu",
        "type": "HttpIn",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout API",
        "path": "/logout",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/logout": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 79.890625,
        "y": 1679.796875,
        "wires": [
            [
                "sd_OM7wGR8Yg3uXCuRN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_GftJ79vHiJ39h6nu"
    },
    {
        "id": "sd_OM7wGR8Yg3uXCuRN",
        "type": "Session",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_OM7wGR8Yg3uXCuRN",
        "category": "HTTP",
        "x": 249,
        "y": 1679.78125,
        "wires": [
            [
                "sd_loV4SxJU7itMNCDE"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_loV4SxJU7itMNCDE",
        "type": "Script",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.local.sessionExists = false;\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset) {\n    bh.local.sessionData['data']['redirectTo'] = bh.input.query['redirectTo'];\n    bh.local.sessionData['data']['isMobile'] = bh.input.query['isMobile'];\n    bh.local.sessionExists = true;\n} else {\n    delete bh.local.sessionData['redirectTo'];\n}",
        "functionName": "sd_loV4SxJU7itMNCDE",
        "category": "Function",
        "x": 413,
        "y": 1678.78125,
        "wires": [
            [
                "sd_0ngYMr3jwcFdpuor"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_iSz4VQptjllgOHJB",
        "type": "Switch",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Session exists ",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_iSz4VQptjllgOHJB",
        "category": "Function",
        "x": 885,
        "y": 1680,
        "wires": [
            [
                "sd_Q2c2RtIANEnSJGeV"
            ],
            [
                "sd_26qh4ybCJIt1pTdg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Q2c2RtIANEnSJGeV",
        "type": "Script",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "await Promise.all([\n    bh.local.sessionData.data.tokenset.access_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.access_token, 'access_token') : undefined,\n    bh.local.sessionData.data.tokenset.refresh_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.refresh_token, 'refresh_token') : undefined,\n]);\n\nbh.local.res = {\n        'idsURL': url.format(Object.assign(url.parse(bh.input.client.issuer.end_session_endpoint), {\n            search: null,\n            query: {\n                id_token_hint: bh.local.sessionData.data.tokenset.id_token,\n                post_logout_redirect_uri: url.resolve(bh.web.req.href, '/api/logout/cb'),\n                client_id: settings.default['ids']['client_id']\n            },\n        })),\n        'sessionExists': true,\n}\n\n// Remove user info and tokenset before login redirect\nbh.local.sessionData.data.tokenset = null;\nbh.local.sessionData.data.userInfo = null;",
        "functionName": "sd_Q2c2RtIANEnSJGeV",
        "category": "Function",
        "x": 1045,
        "y": 1560,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_0ngYMr3jwcFdpuor",
        "type": "CallService",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "serviceId": "sd_sEYuUazYgJi81ngr",
            "serviceName": "idsutil",
            "id": "sd_sEYuUazYgJi81ngr",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_EINF8pJAdHuxfezV",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_0ngYMr3jwcFdpuor",
        "category": "General",
        "x": 645,
        "y": 1680,
        "wires": [
            [
                "sd_iSz4VQptjllgOHJB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_KnrUTFr7J3p2TTnj",
        "type": "HttpOut",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send IDS logout Url",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_KnrUTFr7J3p2TTnj",
        "category": "HTTP",
        "x": 1345,
        "y": 1680,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_26qh4ybCJIt1pTdg",
        "type": "Script",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = {\n        'sessionExists': false,\n}",
        "functionName": "sd_26qh4ybCJIt1pTdg",
        "category": "Function",
        "x": 1113.250015258789,
        "y": 1790.5312767028809,
        "wires": [
            [
                "sd_KnrUTFr7J3p2TTnj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_iUodptajaAWY2wvv",
        "type": "HttpIn",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout Callback API",
        "path": "/logout/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/logout/cb": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 163.1406421661377,
        "y": 2441.0469074249268,
        "wires": [
            [
                "sd_qSg9Y3OXvgBkB1p6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_iUodptajaAWY2wvv"
    },
    {
        "id": "sd_qSg9Y3OXvgBkB1p6",
        "type": "Session",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_qSg9Y3OXvgBkB1p6",
        "category": "HTTP",
        "x": 347.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_ItYJugnUHfnzrSr3"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_kiXVfO3scTLxq1QT",
        "type": "Switch",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check platform type",
        "property": "sessionData.data.isMobile",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionData.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_kiXVfO3scTLxq1QT",
        "category": "Function",
        "x": 665.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_bCnWrstRE0Cxd7Vu"
            ],
            [
                "sd_usp4hiStoIzhAUK6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_bCnWrstRE0Cxd7Vu",
        "type": "Script",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = \n`<html>\n   <script>\n      var _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "functionName": "sd_bCnWrstRE0Cxd7Vu",
        "category": "Function",
        "x": 850.2500171661377,
        "y": 2516.0312824249268,
        "wires": [
            [
                "sd_PihhomZXelr81vZ5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_PihhomZXelr81vZ5",
        "type": "HttpOut",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send html response",
        "headers": {
            "Content-Security-Policy": "script 'sha256-j4HHWBMKh2PoLEAu017BWktgUmmL7VVMjnHuNWUHGOg='"
        },
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": [
                {
                    "key": "Content-Security-Policy",
                    "value": "script 'sha256-j4HHWBMKh2PoLEAu017BWktgUmmL7VVMjnHuNWUHGOg='",
                    "rowId": "sd_1rEodKaPhq3Yygas",
                    "valid": true
                }
            ]
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_PihhomZXelr81vZ5",
        "category": "HTTP",
        "x": 1083.2500171661377,
        "y": 2315.0312824249268,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_usp4hiStoIzhAUK6",
        "type": "Script",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.sessionData.data.redirectTo\n}",
        "functionName": "sd_usp4hiStoIzhAUK6",
        "category": "Function",
        "x": 849.2500171661377,
        "y": 2337.0312824249268,
        "wires": [
            [
                "sd_zqgyT51Zm8BOKoEv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_zqgyT51Zm8BOKoEv",
        "type": "HttpOut",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "302",
            "ssd_typedInputField": true
        },
        "responseType": "txt",
        "responseMapping": {
            "status": 302,
            "txt": "'redirecting'",
            "send": "'redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_zqgyT51Zm8BOKoEv",
        "category": "HTTP",
        "x": 1089.2500171661377,
        "y": 2516.0312824249268,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ItYJugnUHfnzrSr3",
        "type": "Session",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "functionName": "sd_ItYJugnUHfnzrSr3",
        "category": "HTTP",
        "x": 519.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_kiXVfO3scTLxq1QT"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_lmHAz3Y9TmxLK6q2",
        "type": "MiddlewareStart",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "start",
        "name": "Authorize",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 80.8125,
        "y": 3182.71875,
        "wires": [
            [
                "sd_CHEXWqFaGQrYycqP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_lmHAz3Y9TmxLK6q2"
    },
    {
        "id": "sd_sbOJd0ATGRSDBqKP",
        "type": "Session",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_sbOJd0ATGRSDBqKP",
        "category": "HTTP",
        "x": 386,
        "y": 3178.78125,
        "wires": [
            [
                "sd_1HElpgsogJ2BXJRp"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_itIq0ZDt4W8bA36l",
        "type": "Switch",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if session exists",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_itIq0ZDt4W8bA36l",
        "category": "Function",
        "x": 679,
        "y": 3173.78125,
        "wires": [
            [
                "sd_s0jOneLcvGRkCcT3"
            ],
            [
                "sd_Dvh3BTlX2aiVtLpj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Dvh3BTlX2aiVtLpj",
        "type": "Switch",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if it is the user info API.",
        "property": "path",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.path",
        "rules": [
            {
                "t": "cont",
                "v": "/user/info",
                "vt": "str",
                "gv": "\"/user/info\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_Dvh3BTlX2aiVtLpj",
        "category": "Function",
        "x": 641,
        "y": 3388.78125,
        "wires": [
            [
                "sd_NITj8gv20rHZjdtd"
            ],
            [
                "sd_4dxelaD1dGvhj4Mo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_9LMS4Qc46JOqRJ5D",
        "type": "HttpOut",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send the session not present response",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "403",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 403,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_9LMS4Qc46JOqRJ5D",
        "category": "HTTP",
        "x": 1205,
        "y": 3366.78125,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_NITj8gv20rHZjdtd",
        "type": "Script",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { message: 'Session expired' };",
        "functionName": "sd_NITj8gv20rHZjdtd",
        "category": "Function",
        "x": 892.890625,
        "y": 3386.78125,
        "wires": [
            [
                "sd_9LMS4Qc46JOqRJ5D"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_4dxelaD1dGvhj4Mo",
        "type": "Script",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'NO_SESSION', message: 'Session not present' };",
        "functionName": "sd_4dxelaD1dGvhj4Mo",
        "category": "Function",
        "x": 885,
        "y": 3522.8125,
        "wires": [
            [
                "sd_9LMS4Qc46JOqRJ5D"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_SfmGigYYJwYnj3eM",
        "type": "Switch",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Token exists after refresh",
        "property": "newSession",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_SfmGigYYJwYnj3eM",
        "category": "Function",
        "x": 846,
        "y": 2953.78125,
        "wires": [
            [
                "sd_AvvVBDNGQKRvqYOO"
            ],
            [
                "sd_P5Je0V9TuXbg6OsA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_mbAKc28VHsRTCSJG",
        "type": "MiddlewareEnd",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Authorize end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_mbAKc28VHsRTCSJG",
        "category": "HTTP",
        "x": 1484,
        "y": 2956.703125,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_NgvFIa6pB3kDCneT",
        "type": "Script",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'TOKEN_EXPIRED', message: 'Token invalid or access revoked' };",
        "functionName": "sd_NgvFIa6pB3kDCneT",
        "category": "Function",
        "x": 884,
        "y": 3259.78125,
        "wires": [
            [
                "sd_9LMS4Qc46JOqRJ5D"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_s0jOneLcvGRkCcT3",
        "type": "CallService",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Call handleTokenExpiry",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "serviceId": "sd_sEYuUazYgJi81ngr",
            "serviceName": "idsutil",
            "id": "sd_sEYuUazYgJi81ngr",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_8y2hsrZ7AzOiDsFw",
            "flowName": "handleTokenExpiry"
        },
        "inputVariables": [
            {
                "key": "existingSession",
                "map": true,
                "valueType": "bh.local",
                "value": "sessionData"
            },
            {
                "key": "newSession",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "newSession",
                "valueType": "bh.local",
                "value": "newSession",
                "mapVarName": "newSession",
                "localVar": "bh.local.newSession"
            }
        ],
        "callService": "./idsutil",
        "startName": "handleTokenExpiry",
        "inputParams": [
            "bh.local.sessionData",
            null
        ],
        "accept_bh": false,
        "functionName": "sd_s0jOneLcvGRkCcT3",
        "category": "General",
        "x": 631,
        "y": 2951.78125,
        "wires": [
            [
                "sd_SfmGigYYJwYnj3eM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_CHEXWqFaGQrYycqP",
        "type": "Script",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local = {\n    \n}",
        "functionName": "sd_CHEXWqFaGQrYycqP",
        "category": "Function",
        "x": 227.890625,
        "y": 3180.78125,
        "wires": [
            [
                "sd_sbOJd0ATGRSDBqKP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_1HElpgsogJ2BXJRp",
        "type": "Script",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.sessionExists = false;\n\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset &&\n    bh.local.sessionData.data.tokenset.access_token && bh.local.sessionData.data.tokenset.refresh_token) {\n    bh.local.sessionExists = true;\n}",
        "functionName": "sd_1HElpgsogJ2BXJRp",
        "category": "Function",
        "x": 550,
        "y": 3178.78125,
        "wires": [
            [
                "sd_itIq0ZDt4W8bA36l"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_AvvVBDNGQKRvqYOO",
        "type": "Session",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "functionName": "sd_AvvVBDNGQKRvqYOO",
        "category": "HTTP",
        "x": 887,
        "y": 3093.78125,
        "wires": [
            [
                "sd_NgvFIa6pB3kDCneT"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_P5Je0V9TuXbg6OsA",
        "type": "Switch",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Update session if token rotated",
        "property": "newSession.rotated",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession.rotated",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_P5Je0V9TuXbg6OsA",
        "category": "Function",
        "x": 1051,
        "y": 2956.78125,
        "wires": [
            [
                "sd_oL5bu1Btmaf7zBAK"
            ],
            [
                "sd_mbAKc28VHsRTCSJG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_48cWgMf0ADskDFS1",
        "type": "Session",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh.local.newSession",
        "dataMapping": "bh.local.newSession",
        "functionName": "sd_48cWgMf0ADskDFS1",
        "category": "HTTP",
        "x": 1331,
        "y": 2827.78125,
        "wires": [
            [
                "sd_mbAKc28VHsRTCSJG"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "newSession"
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "newSession"
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_oL5bu1Btmaf7zBAK",
        "type": "Script",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "delete bh.local.newSession.rotated;",
        "functionName": "sd_oL5bu1Btmaf7zBAK",
        "category": "Function",
        "x": 1192,
        "y": 2827.78125,
        "wires": [
            [
                "sd_48cWgMf0ADskDFS1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_HHSYIvf4rE0RDLP0",
        "type": "Comments",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Idenity Server Login API",
        "comments": "<p>API used to authenticate users.</p>",
        "category": "General",
        "x": 685,
        "y": 58.78125,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_meUXr1wTvvJsgmW2",
        "type": "Comments",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Flow to add href to bh of the Origin",
        "comments": "",
        "category": "General",
        "x": 664,
        "y": 590.78125,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_4gS5VrYUwUadYao6",
        "type": "Comments",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Login Callback API",
        "comments": "<p>After authentication, this is the API called by IDS to get Access token and user info</p>",
        "category": "General",
        "x": 685,
        "y": 897.2265625,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_43lTAf94mF1VbEKy",
        "type": "Comments",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "IDS Logout API",
        "comments": "<p>API to redirect the user to IDS Logout page</p>",
        "category": "General",
        "x": 720.0000114440918,
        "y": 1527.226583480835,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_gOIQPOq00RYcDQxo",
        "type": "Comments",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Fetch user info",
        "comments": "The API called by neutrinos-oauth-client module internally to fetch user info.",
        "category": "General",
        "x": 651.2500095367432,
        "y": 1947.2265892028809,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_mpANJxsSFTVHndWY",
        "type": "Comments",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect the user back to Login",
        "comments": "<p>Redirect back to /login if the flow cannot fetch user info or access token.</p>",
        "category": "General",
        "x": 177.50000381469727,
        "y": 1310.9765815734863,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_jRmy4przDw92zJpR",
        "type": "Comments",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check Authorization",
        "comments": "Use this middleware flow for all authorized APIs.",
        "category": "General",
        "x": 813.75,
        "y": 2805.9765625,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_061DL50lc5yAYSCn",
        "type": "Comments",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Logout Callback API",
        "comments": "<p>The API redirected by IDS to destroy the user session.</p>",
        "category": "General",
        "x": 581.25,
        "y": 2288.4765625,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_ITX2dqFbONMvNlHS",
        "type": "Catch",
        "z": "sd_J2Kz8uUTFGLIj5wT",
        "viewType": "common",
        "nodeType": "start",
        "name": "Catch HandleTokenExpiry",
        "selectedNodes": [
            "sd_s0jOneLcvGRkCcT3"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_ITX2dqFbONMvNlHS",
        "category": "General",
        "x": 765,
        "y": 3260,
        "wires": [
            [
                "sd_NgvFIa6pB3kDCneT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids"
    }
]
