designs/server/services/lms_ssd.json
[
    {
        "id": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "type": "tab",
        "createdDate": "2022-07-25T20:53:00.576Z",
        "label": "lms_ssd",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "lms_ssd",
        "relativeParentPath": ""
    },
    {
        "id": "sd_0Syh3067rWlIoXgn",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "start",
        "name": "",
        "path": "/addUser",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/addUser": {
                "post": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 225,
        "y": 140,
        "wires": [
            [
                "sd_3rh7SVvWFeiruUVZ"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "lms_ssd",
        "functionName": "sd_0Syh3067rWlIoXgn"
    },
    {
        "id": "sd_3rh7SVvWFeiruUVZ",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.body['leaveBalance'] = 20;\n\nbh.input.query = {email: bh.input.body.email};",
        "functionName": "sd_3rh7SVvWFeiruUVZ",
        "category": "Function",
        "x": 325,
        "y": 140,
        "wires": [
            [
                "sd_HAbJfZdv7WxXYUtW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "lms_ssd"
    },
    {
        "id": "sd_7C2tV4P4IA2pHcnX",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_2nvaxbLqUVsRQhHb",
        "collection": "\"users\"",
        "options": "",
        "resultMapping": "bh.local.results",
        "operation": "insertOne",
        "argumentArray": [
            "document"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_7C2tV4P4IA2pHcnX",
        "category": "Storage",
        "x": 605,
        "y": 60,
        "wires": [
            [
                "sd_U8YGsa6VND3EoSTd"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "users",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "results",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "lms_ssd"
    },
    {
        "id": "sd_U8YGsa6VND3EoSTd",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "{message: 'User successfully added', status: 200}",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "{message: 'User successfully added', status: 200}",
            "send": "{message: 'User successfully added', status: 200}"
        },
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_U8YGsa6VND3EoSTd",
        "category": "HTTP",
        "x": 705,
        "y": 60,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "lms_ssd"
    },
    {
        "id": "sd_HAbJfZdv7WxXYUtW",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "check if user already exist",
        "databaseConfig": "sd_2nvaxbLqUVsRQhHb",
        "collection": "\"users\"",
        "options": "",
        "resultMapping": "bh.local.foundUsers",
        "operation": "find",
        "argumentArray": [
            "query"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.input.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "checkIfUserAlreadyExist",
        "category": "Storage",
        "x": 425,
        "y": 140,
        "wires": [
            [
                "sd_p7SEMNhJOxgF17XS"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "users",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "foundUsers",
                "constant": false
            },
            "query": {
                "type": "bh.input",
                "value": "query",
                "constant": false
            },
            "document": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "lms_ssd"
    },
    {
        "id": "sd_p7SEMNhJOxgF17XS",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "foundUsers.length",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.foundUsers.length",
        "rules": [
            {
                "t": "lt",
                "v": "1",
                "vt": "num",
                "gv": "1"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_p7SEMNhJOxgF17XS",
        "category": "Function",
        "x": 525,
        "y": 140,
        "wires": [
            [
                "sd_7C2tV4P4IA2pHcnX"
            ],
            [
                "sd_1Fom6fsrcSI1JiR5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "lms_ssd"
    },
    {
        "id": "sd_1Fom6fsrcSI1JiR5",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "{message: 'User already exists'}",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 400,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 400,
            "obj": "{message: 'User already exists'}",
            "send": "{message: 'User already exists'}"
        },
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_1Fom6fsrcSI1JiR5",
        "category": "HTTP",
        "x": 620,
        "y": 180,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "lms_ssd"
    },
    {
        "id": "sd_b1VdN8MY9SCbxX3x",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "start",
        "name": "",
        "path": "/login",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/login": {
                "post": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 225,
        "y": 360,
        "wires": [
            [
                "sd_hL2RkgGoZAgh8CO7"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "lms_ssd",
        "functionName": "sd_b1VdN8MY9SCbxX3x"
    },
    {
        "id": "sd_hL2RkgGoZAgh8CO7",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.query = {\n    email: bh.input.body.email\n    // password: bh.input.body.password\n    };",
        "functionName": "sd_hL2RkgGoZAgh8CO7",
        "category": "Function",
        "x": 325,
        "y": 360,
        "wires": [
            [
                "sd_wlJqh6C6efzg3JgW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "lms_ssd"
    },
    {
        "id": "sd_wlJqh6C6efzg3JgW",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "check if user is registered",
        "databaseConfig": "sd_2nvaxbLqUVsRQhHb",
        "collection": "\"users\"",
        "options": "",
        "resultMapping": "bh.local.foundUser",
        "operation": "find",
        "argumentArray": [
            "query"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.input.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "checkIfUserIsRegistered",
        "category": "Storage",
        "x": 425,
        "y": 360,
        "wires": [
            [
                "sd_ng9wwZHrNT9xoF5j"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "users",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "foundUser",
                "constant": false
            },
            "query": {
                "type": "bh.input",
                "value": "query",
                "constant": false
            },
            "document": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ng9wwZHrNT9xoF5j",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "foundUser.length",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.foundUser.length",
        "rules": [
            {
                "t": "lt",
                "v": "1",
                "vt": "num",
                "gv": "1"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_ng9wwZHrNT9xoF5j",
        "category": "Function",
        "x": 525,
        "y": 360,
        "wires": [
            [
                "sd_8iwcWuxrpZA6RoQK"
            ],
            [
                "sd_9XV9vd7v66uBNtJV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_8iwcWuxrpZA6RoQK",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "User not found",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "{message: 'User not found!'}",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 400,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 400,
            "obj": "{message: 'User not found!'}",
            "send": "{message: 'User not found!'}"
        },
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "userNotFound",
        "category": "HTTP",
        "x": 625,
        "y": 320,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_9XV9vd7v66uBNtJV",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "foundUser",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.foundUser",
            "send": "bh.local.foundUser"
        },
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_9XV9vd7v66uBNtJV",
        "category": "HTTP",
        "x": 625,
        "y": 420,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_KRWdZE4xzQDp6Vr1",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "start",
        "name": "storeLeaveRequest",
        "path": "/storeLeaveRequest",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/storeLeaveRequest": {
                "post": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 225,
        "y": 580,
        "wires": [
            [
                "sd_3qo5kOxOMV3nwsif"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "lms_ssd",
        "functionName": "sd_KRWdZE4xzQDp6Vr1"
    },
    {
        "id": "sd_9gVY7F5LzchhERGV",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.result",
            "send": "bh.local.result"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_9gVY7F5LzchhERGV",
        "category": "HTTP",
        "x": 445,
        "y": 580,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_3qo5kOxOMV3nwsif",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_2nvaxbLqUVsRQhHb",
        "collection": "\"leaveRequests\"",
        "options": "",
        "resultMapping": "bh.local.result",
        "operation": "insertOne",
        "argumentArray": [
            "document"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_3qo5kOxOMV3nwsif",
        "category": "Storage",
        "x": 305,
        "y": 580,
        "wires": [
            [
                "sd_9gVY7F5LzchhERGV"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "leaveRequests",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_4idFbGiJMmBSEPIv",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "start",
        "name": "getLeaveRequests",
        "path": "/getLeaveRequests",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/getLeaveRequests": {
                "post": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 205,
        "y": 700,
        "wires": [
            [
                "sd_jjWVmFtS14Krgsnx"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "lms_ssd",
        "functionName": "sd_4idFbGiJMmBSEPIv"
    },
    {
        "id": "sd_3QkwjMIe9fv33fzZ",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_2nvaxbLqUVsRQhHb",
        "collection": "\"leaveRequests\"",
        "options": "",
        "resultMapping": "bh.local.result",
        "operation": "find",
        "argumentArray": [
            "query"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.input.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_3QkwjMIe9fv33fzZ",
        "category": "Storage",
        "x": 405,
        "y": 700,
        "wires": [
            [
                "sd_KBnO0iQCurjKJLJy"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "leaveRequests",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh.input",
                "value": "query",
                "constant": false
            },
            "document": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_KBnO0iQCurjKJLJy",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.result",
            "send": "bh.local.result"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_KBnO0iQCurjKJLJy",
        "category": "HTTP",
        "x": 525,
        "y": 700,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_aI9Yc6k28v5LwvP2",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "start",
        "name": "getLeaveDays",
        "path": "/getLeaveDays/:owner",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/getLeaveDays/:owner": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 205,
        "y": 860,
        "wires": [
            [
                "sd_qWihIfR9hMZaRAp5"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "lms_ssd",
        "functionName": "sd_aI9Yc6k28v5LwvP2"
    },
    {
        "id": "sd_fPCHC4CVGuEU1Ke6",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_2nvaxbLqUVsRQhHb",
        "collection": "\"leaveDays\"",
        "options": "",
        "resultMapping": "bh.local.result",
        "operation": "find",
        "argumentArray": [
            "query"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.input.params",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_fPCHC4CVGuEU1Ke6",
        "category": "Storage",
        "x": 345,
        "y": 860,
        "wires": [
            [
                "sd_RkongtXPiseyiOBN"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "leaveDays",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh.input",
                "value": "params",
                "constant": false
            },
            "document": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_RkongtXPiseyiOBN",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.result",
            "send": "bh.local.result"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_RkongtXPiseyiOBN",
        "category": "HTTP",
        "x": 445,
        "y": 860,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Dnv6Q9uIvmqpYm82",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "start",
        "name": "getSecondLeaveRequests",
        "path": "/getSecondLeaveRequests/:owner",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/getSecondLeaveRequests/:owner": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 305,
        "y": 940,
        "wires": [
            [
                "sd_6ctnNu5rO0Aq7wAd"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "lms_ssd",
        "functionName": "sd_Dnv6Q9uIvmqpYm82"
    },
    {
        "id": "sd_6ctnNu5rO0Aq7wAd",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_2nvaxbLqUVsRQhHb",
        "collection": "\"getLeaveRequests\"",
        "options": "",
        "resultMapping": "bh.local.result",
        "operation": "find",
        "argumentArray": [
            "query"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.input.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_6ctnNu5rO0Aq7wAd",
        "category": "Storage",
        "x": 405,
        "y": 940,
        "wires": [
            [
                "sd_oeXTXx0YaUaEw4vI"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "getLeaveRequests",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh.input",
                "value": "query",
                "constant": false
            },
            "document": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_oeXTXx0YaUaEw4vI",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.result",
            "send": "bh.local.result"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_oeXTXx0YaUaEw4vI",
        "category": "HTTP",
        "x": 525,
        "y": 940,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_jjWVmFtS14Krgsnx",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// Check if email matches the user OR if reporting manager is equals to user\nconsole.log(7777777,bh)\nbh.input.query = { reportingManager: bh.input.body.email };",
        "functionName": "sd_jjWVmFtS14Krgsnx",
        "category": "Function",
        "x": 305,
        "y": 700,
        "wires": [
            [
                "sd_3QkwjMIe9fv33fzZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_bjo2Qg3AJG8FwrnD",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "start",
        "name": "getPendingLeaveRequests",
        "path": "/getPendingRequests",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/getPendingRequests": {
                "post": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 205,
        "y": 780,
        "wires": [
            [
                "sd_u197CuK67Qm6zbY6"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "lms_ssd",
        "functionName": "sd_bjo2Qg3AJG8FwrnD"
    },
    {
        "id": "sd_ceRj3DhfF1k5ZiId",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_2nvaxbLqUVsRQhHb",
        "collection": "\"leaveRequests\"",
        "options": "",
        "resultMapping": "bh.local.result",
        "operation": "find",
        "argumentArray": [
            "query"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.input.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_ceRj3DhfF1k5ZiId",
        "category": "Storage",
        "x": 405,
        "y": 780,
        "wires": [
            [
                "sd_IsXyveyMwigsW4kK"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "leaveRequests",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh.input",
                "value": "query",
                "constant": false
            },
            "document": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_IsXyveyMwigsW4kK",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.result",
            "send": "bh.local.result"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_IsXyveyMwigsW4kK",
        "category": "HTTP",
        "x": 525,
        "y": 780,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_u197CuK67Qm6zbY6",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.query = {owner: bh.input.body.email};",
        "functionName": "sd_u197CuK67Qm6zbY6",
        "category": "Function",
        "x": 305,
        "y": 780,
        "wires": [
            [
                "sd_ceRj3DhfF1k5ZiId"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_l465WHPwrfY4gcwD",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "start",
        "name": "",
        "path": "/updateLeaveRequest",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/updateLeaveRequest": {
                "post": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 205,
        "y": 1080,
        "wires": [
            [
                "sd_BgJfeMQEJLBjhLP3"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "lms_ssd",
        "functionName": "sd_l465WHPwrfY4gcwD"
    },
    {
        "id": "sd_NsAap1u98eBctIHb",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.result",
            "send": "bh.local.result"
        },
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_NsAap1u98eBctIHb",
        "category": "HTTP",
        "x": 1125,
        "y": 1080,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_immIm90604CsxQBD",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "update LR status",
        "databaseConfig": "sd_2nvaxbLqUVsRQhHb",
        "collection": "\"leaveRequests\"",
        "options": "",
        "resultMapping": "bh.local.result",
        "operation": "updateOne",
        "argumentArray": [
            "filter",
            "update"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "bh.input.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "bh.input.updateStatus",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "updateLRStatus",
        "category": "Storage",
        "x": 425,
        "y": 1080,
        "wires": [
            [
                "sd_vY4kCrYic72G7Mcl"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "leaveRequests",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            },
            "filter": {
                "type": "bh.input",
                "value": "filter",
                "constant": false
            },
            "update": {
                "type": "bh.input",
                "value": "updateStatus",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_BgJfeMQEJLBjhLP3",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.filter = {\n    owner: bh.input.body.owner,\n    textArea: bh.input.body.textArea\n}\nbh.input.updateStatus = {\n    $set: {\n         status: bh.input.body.status\n     }\n}\n\n// console.log('hi', bh.input)\n",
        "functionName": "sd_BgJfeMQEJLBjhLP3",
        "category": "Function",
        "x": 300,
        "y": 1080,
        "wires": [
            [
                "sd_immIm90604CsxQBD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_MJXH3Gc7KhoXWU4s",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.input.filter = {\n    owner: bh.input.body.owner\n}\n\n",
        "functionName": "sd_MJXH3Gc7KhoXWU4s",
        "category": "Function",
        "x": 685,
        "y": 1020,
        "wires": [
            [
                "sd_s0V1JpPwpZ48eREX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_s0V1JpPwpZ48eREX",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "GetLDbyOwner",
        "databaseConfig": "sd_2nvaxbLqUVsRQhHb",
        "collection": "\"leaveDays\"",
        "options": "",
        "resultMapping": "bh.local.result",
        "operation": "find",
        "argumentArray": [
            "query"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.input.filter",
        "fieldOrSpec": "",
        "filter": "bh.input.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "bh.input.updateStatus",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "getLDbyOwner",
        "category": "Storage",
        "x": 765,
        "y": 1020,
        "wires": [
            [
                "sd_hfW9a2hxOgJItRFb"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "leaveDays",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh.input",
                "value": "filter",
                "constant": false
            },
            "document": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            },
            "filter": {
                "type": "bh.input",
                "value": "filter",
                "constant": false
            },
            "update": {
                "type": "bh.input",
                "value": "updateStatus",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_hfW9a2hxOgJItRFb",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('input',bh.input)\nvar leaveReq = bh.input.body;\n\nvar numberOfDays = datediff(leaveReq.startDate,leaveReq.endDate);\nconsole.log(numberOfDays)\n\nvar leaveDays = bh.local.result[0]\nleaveDays[leaveReq.leaveType] = Number(leaveDays[leaveReq.leaveType]) - numberOfDays;\n\nconsole.log(leaveDays)\n\n//differenece btwn start and end date\nfunction datediff(date1, date2) {\n    date1 = Date.parse(date1)\n    date2 = Date.parse(date2)\n    // The number of milliseconds in one day\n    const ONE_DAY = 1000 * 60 * 60 * 24;\n\n    // Calculate the difference in milliseconds\n    const differenceMs = Math.abs(date1 - date2);\n\n    // Convert back to days and return\n    return Math.round(differenceMs / ONE_DAY) + 1;\n}\n\n//prepare mongodb obects\n\nbh.input.filter = {\n    owner: bh.input.body.owner\n}\nbh.input.updateDays = {\n    $set: {\n         [leaveReq.leaveType] : leaveDays[leaveReq.leaveType]\n     }\n}",
        "functionName": "sd_hfW9a2hxOgJItRFb",
        "category": "Function",
        "x": 880,
        "y": 1020,
        "wires": [
            [
                "sd_rxTuovZkQw2xb0L8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_rxTuovZkQw2xb0L8",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "updateLeaveTypeNumber",
        "databaseConfig": "sd_2nvaxbLqUVsRQhHb",
        "collection": "\"leaveDays\"",
        "options": "",
        "resultMapping": "bh.local.result",
        "operation": "updateOne",
        "argumentArray": [
            "filter",
            "update"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "bh.input.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "bh.input.updateDays",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "updateLeaveTypeNumber",
        "category": "Storage",
        "x": 965,
        "y": 1020,
        "wires": [
            [
                "sd_NsAap1u98eBctIHb"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "leaveDays",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            },
            "filter": {
                "type": "bh.input",
                "value": "filter",
                "constant": false
            },
            "update": {
                "type": "bh.input",
                "value": "updateDays",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_qWihIfR9hMZaRAp5",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.input)",
        "functionName": "sd_qWihIfR9hMZaRAp5",
        "category": "Function",
        "x": 280,
        "y": 860,
        "wires": [
            [
                "sd_fPCHC4CVGuEU1Ke6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_wPiobFQZgOXzvege",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "start",
        "name": "",
        "path": "get-users",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "get-users": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 200,
        "y": 1240,
        "wires": [
            [
                "sd_ZkQdY1IZaeS0aVve"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "lms_ssd",
        "functionName": "sd_wPiobFQZgOXzvege"
    },
    {
        "id": "sd_ZkQdY1IZaeS0aVve",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_2nvaxbLqUVsRQhHb",
        "collection": "\"users\"",
        "options": "",
        "resultMapping": "bh.local.result",
        "operation": "find",
        "argumentArray": [
            "query"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.input.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_ZkQdY1IZaeS0aVve",
        "category": "Storage",
        "x": 345,
        "y": 1240,
        "wires": [
            [
                "sd_R1TQ3lEVE0Jyuvph"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "users",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh.input",
                "value": "query",
                "constant": false
            },
            "document": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_R1TQ3lEVE0Jyuvph",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.result",
            "send": "bh.local.result"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_R1TQ3lEVE0Jyuvph",
        "category": "HTTP",
        "x": 465,
        "y": 1240,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_l8AP2apZ7HVv3dct",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "start",
        "name": "getLeaveRequests",
        "path": "/getAllLeaveRequests",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/getAllLeaveRequests": {
                "post": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 205,
        "y": 1380,
        "wires": [
            [
                "sd_tCd9ZICQaNTDi4VC"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "lms_ssd",
        "functionName": "sd_l8AP2apZ7HVv3dct"
    },
    {
        "id": "sd_9dhS1NzXsfNG2wKH",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_2nvaxbLqUVsRQhHb",
        "collection": "\"leaveRequests\"",
        "options": "",
        "resultMapping": "bh.local.result",
        "operation": "find",
        "argumentArray": [
            "query"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.input.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_9dhS1NzXsfNG2wKH",
        "category": "Storage",
        "x": 405,
        "y": 1380,
        "wires": [
            [
                "sd_XTBvnyOAFVEdxNfY"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "leaveRequests",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh.input",
                "value": "query",
                "constant": false
            },
            "document": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_XTBvnyOAFVEdxNfY",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.result",
            "send": "bh.local.result"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_XTBvnyOAFVEdxNfY",
        "category": "HTTP",
        "x": 525,
        "y": 1380,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_tCd9ZICQaNTDi4VC",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// Check if email matches the user OR if reporting manager is equals to user\n\nbh.input.query = { };",
        "functionName": "sd_tCd9ZICQaNTDi4VC",
        "category": "Function",
        "x": 305,
        "y": 1380,
        "wires": [
            [
                "sd_9dhS1NzXsfNG2wKH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_vY4kCrYic72G7Mcl",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_4cFJ3eVsLq4MtK2U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "body.status",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.body.status",
        "rules": [
            {
                "t": "eq",
                "v": "Aprroved",
                "vt": "str",
                "gv": "\"Aprroved\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_vY4kCrYic72G7Mcl",
        "category": "Function",
        "x": 545,
        "y": 1080,
        "wires": [
            [
                "sd_MJXH3Gc7KhoXWU4s"
            ],
            [
                "sd_NsAap1u98eBctIHb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
