designs/pages/aa_base/dialog_box_details.json
[
    {
        "id": "sd_VENuDC99MMwEMfCo",
        "type": "tab",
        "createdDate": "2022-07-25T15:35:19.829Z",
        "label": "dialog_box_details",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "dialog_box_detailsComponent"
    },
    {
        "id": "sd_P9F7jrS1LRtWSkwx",
        "type": "OnInit",
        "z": "sd_VENuDC99MMwEMfCo",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_P9F7jrS1LRtWSkwx",
        "category": "Lifecycle Events",
        "x": 125,
        "y": 220,
        "wires": [
            [
                "sd_BuYHc2lqz8yoPEoP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dialog_box_detailsComponent"
    },
    {
        "id": "sd_BuYHc2lqz8yoPEoP",
        "type": "PageVariables",
        "z": "sd_VENuDC99MMwEMfCo",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "approveOrRejectOptions",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "approveOrReject",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "dialog",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "status",
                "typedIpValue": {
                    "type": "str",
                    "value": ""
                }
            },
            {
                "textIp": "leaveList",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "leaveRequest",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_BuYHc2lqz8yoPEoP",
        "category": "Function",
        "x": 205,
        "y": 220,
        "wires": [
            [
                "sd_cal6C4thUHrcEbfF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_QYEA2HFrFTh03Abs",
        "type": "Script",
        "z": "sd_VENuDC99MMwEMfCo",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\npage.approveOrReject = new FormGroup({\n    option : new FormControl('', [Validators.required]),\n    text : new FormControl('', ),\n    \n  });\n",
        "functionName": "sd_QYEA2HFrFTh03Abs",
        "category": "Function",
        "x": 365,
        "y": 220,
        "wires": [
            [
                "sd_xNkOv97YCML0LCkg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_xNkOv97YCML0LCkg",
        "type": "Script",
        "z": "sd_VENuDC99MMwEMfCo",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.approveOrRejectOptions = [\n        {option: 'Approved'},\n        {option: 'Rejected'},\n     ];",
        "functionName": "sd_xNkOv97YCML0LCkg",
        "category": "Function",
        "x": 448,
        "y": 220,
        "wires": [
            [
                "sd_ejJA1OKXIvdxyGZR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_cal6C4thUHrcEbfF",
        "type": "UseDependency",
        "z": "sd_VENuDC99MMwEMfCo",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ReactiveFormsModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "FG"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_cal6C4thUHrcEbfF",
        "category": "Function",
        "x": 285,
        "y": 220,
        "wires": [
            [
                "sd_QYEA2HFrFTh03Abs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_wqGfkVY5lR45Z52e",
        "type": "PageStart",
        "z": "sd_VENuDC99MMwEMfCo",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 125,
        "y": 520,
        "wires": [
            [
                "sd_upQhlMdfhqz5VgPu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dialog_box_detailsComponent"
    },
    {
        "id": "sd_upQhlMdfhqz5VgPu",
        "type": "Script",
        "z": "sd_VENuDC99MMwEMfCo",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// console.log('mango', page.leaveRequest);\n\n\npage.leaveRequest.status = page.approveOrReject.controls['option'].value;\n\nbh.input.path = 'updateLeaveRequest';\nbh.input.method = 'POST';\nbh.input.body = page.leaveRequest;\n",
        "functionName": "sd_upQhlMdfhqz5VgPu",
        "category": "Function",
        "x": 240,
        "y": 520,
        "wires": [
            [
                "sd_t2uE7K2e607GlqLn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_t2uE7K2e607GlqLn",
        "type": "PageCallService",
        "z": "sd_VENuDC99MMwEMfCo",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_MSma9GJuXg98ZzJs",
            "type": "tab",
            "createdDate": "2022-07-25T20:55:29.182Z",
            "label": "client_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_e3SpyZ5sB2xLCtH4",
            "flowName": "dynamicApiCall"
        },
        "inputVariables": [
            {
                "key": "path",
                "map": true,
                "valueType": "bh.input",
                "value": "path"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh.input",
                "value": "body"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh.input",
                "value": "method"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "results",
                "valueType": "this.page",
                "value": "leaveList",
                "mapVarName": "results",
                "localVar": "this.page.leaveList"
            }
        ],
        "serviceImportPath": "app/sd-services/client_service",
        "startName": "dynamicApiCall",
        "inputParams": [
            "bh.input.path",
            "bh.input.body",
            "bh.input.method"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_t2uE7K2e607GlqLn",
        "category": "General",
        "x": 365,
        "y": 520,
        "wires": [
            [
                "sd_Fxh14RSDsfXZFNgm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_bmwl6YVktWHMUig9",
        "type": "CloseDialog",
        "z": "sd_VENuDC99MMwEMfCo",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "\"done\"",
        "functionName": "sd_bmwl6YVktWHMUig9",
        "category": "Dialog",
        "x": 525,
        "y": 520,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "str",
                "value": "done",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ejJA1OKXIvdxyGZR",
        "type": "GetDialogData",
        "z": "sd_VENuDC99MMwEMfCo",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "dialogDataMapping": "this.page.leaveRequest",
        "functionName": "sd_ejJA1OKXIvdxyGZR",
        "category": "Dialog",
        "x": 525,
        "y": 220,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "dialogDataMapping": {
                "type": "this.page",
                "value": "leaveRequest",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Fxh14RSDsfXZFNgm",
        "type": "SnackBar",
        "z": "sd_VENuDC99MMwEMfCo",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Status Updated"
        },
        "action": {
            "type": "str",
            "value": "Close"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_Fxh14RSDsfXZFNgm",
        "category": "General",
        "x": 440,
        "y": 520,
        "wires": [
            [
                "sd_bmwl6YVktWHMUig9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
