designs/pages/admin/leave/admin_leave_application.json
[
    {
        "id": "sd_1uk1r26OWdqK9aUm",
        "type": "tab",
        "createdDate": "2022-07-25T13:46:29.741Z",
        "label": "admin_leave_application",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "admin_leave_applicationComponent"
    },
    {
        "id": "sd_d171dWQ2trfJQmYW",
        "type": "OnInit",
        "z": "sd_1uk1r26OWdqK9aUm",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "functionName": "sd_d171dWQ2trfJQmYW",
        "category": "Lifecycle Events",
        "x": 225,
        "y": 160,
        "wires": [
            [
                "sd_h2UcNOWDuufZSIMp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "admin_leave_applicationComponent"
    },
    {
        "id": "sd_h2UcNOWDuufZSIMp",
        "type": "PageVariables",
        "z": "sd_1uk1r26OWdqK9aUm",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "leaveApplication",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "leaveType",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "userMongo",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "result",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{}"
                }
            },
            {
                "textIp": "startDate",
                "typedIpValue": {
                    "type": "literal",
                    "value": "null"
                }
            }
        ],
        "functionName": "sd_h2UcNOWDuufZSIMp",
        "category": "Function",
        "x": 325,
        "y": 160,
        "wires": [
            [
                "sd_F8gxvanXzorFzozQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_WEzogK28bdZKknZ2",
        "type": "Script",
        "z": "sd_1uk1r26OWdqK9aUm",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.leaveApplication = new FormGroup({\n    leaveType: new FormControl('', [Validators.required]),\n    startDate: new FormControl(new Date(), [Validators.required]),\n    endDate: new FormControl('', [Validators.required]),\n    reasons: new FormControl('', [Validators.required])\n  });\nconsole.log(\"form\", page.leaveApplication);\n\npage.leaveType = [\n  \"Annual\", \"Sick\", \"Compassionate\",\"Special\"\n]\n\npage.todaysDate = new Date();\n",
        "functionName": "sd_WEzogK28bdZKknZ2",
        "category": "Function",
        "x": 625,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_F8gxvanXzorFzozQ",
        "type": "UseDependency",
        "z": "sd_1uk1r26OWdqK9aUm",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ReactiveFormsModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "FG"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ValidationErrors",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_F8gxvanXzorFzozQ",
        "category": "Function",
        "x": 420.88888931274414,
        "y": 160,
        "wires": [
            [
                "sd_MhIOOBuvXJIW3XDs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_RM842Ut9oUgt9ySf",
        "type": "PageStart",
        "z": "sd_1uk1r26OWdqK9aUm",
        "viewType": "pages",
        "nodeType": "start",
        "name": "saveLeave",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "saveLeave",
        "category": "General",
        "x": 220,
        "y": 320,
        "wires": [
            [
                "sd_N33GyBItWdGig76N"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "admin_leave_applicationComponent"
    },
    {
        "id": "sd_N33GyBItWdGig76N",
        "type": "Script",
        "z": "sd_1uk1r26OWdqK9aUm",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.userMongo)\n\nlet body = page.leaveApplication.value;\n\nbody['owner'] = page.userMongo[0].email;\nbody['reportingManager'] = page.userMongo[0].reportingManager;\nbody['textArea'] = body['reasons'];\ndelete body['reasons'];\nbody['status'] = 'Pending';\n\nbh.input.path = 'storeLeaveRequest';\nbh.input.method = 'POST';\nbh.input.body = body;\n\nconsole.log(bh.input.body)\n",
        "functionName": "sd_N33GyBItWdGig76N",
        "category": "Function",
        "x": 320,
        "y": 320,
        "wires": [
            [
                "sd_2CVjg0TeQwMZWU0c"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_MhIOOBuvXJIW3XDs",
        "type": "Storage",
        "z": "sd_1uk1r26OWdqK9aUm",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "userMongo"
        },
        "functionName": "sd_MhIOOBuvXJIW3XDs",
        "category": "Storage",
        "x": 525,
        "y": 160,
        "wires": [
            [
                "sd_WEzogK28bdZKknZ2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_2CVjg0TeQwMZWU0c",
        "type": "PageCallService",
        "z": "sd_1uk1r26OWdqK9aUm",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_MSma9GJuXg98ZzJs",
            "type": "tab",
            "createdDate": "2022-07-25T20:55:29.182Z",
            "label": "client_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_e3SpyZ5sB2xLCtH4",
            "flowName": "dynamicApiCall"
        },
        "inputVariables": [
            {
                "key": "path",
                "map": true,
                "valueType": "bh.input",
                "value": "path"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh.input",
                "value": "body"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh.input",
                "value": "method"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "results",
                "valueType": "this.page",
                "value": "result",
                "mapVarName": "results",
                "localVar": "this.page.result"
            }
        ],
        "serviceImportPath": "app/sd-services/client_service",
        "startName": "dynamicApiCall",
        "inputParams": [
            "bh.input.path",
            "bh.input.body",
            "bh.input.method"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_2CVjg0TeQwMZWU0c",
        "category": "General",
        "x": 425,
        "y": 320,
        "wires": [
            [
                "sd_XkewVk2tZozrrUb1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_XkewVk2tZozrrUb1",
        "type": "SnackBar",
        "z": "sd_1uk1r26OWdqK9aUm",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Leave Added"
        },
        "action": {
            "type": "str",
            "value": ""
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_XkewVk2tZozrrUb1",
        "category": "General",
        "x": 505,
        "y": 320,
        "wires": [
            [
                "sd_9yTTW6b0sFfSrnHM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_9yTTW6b0sFfSrnHM",
        "type": "Navigation",
        "z": "sd_1uk1r26OWdqK9aUm",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home/admin/all-leave",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_9yTTW6b0sFfSrnHM",
        "category": "Navigation",
        "x": 585,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
